@import 'tailwindcss';

h1 {
  @apply text-4xl font-semibold tracking-wide mb-4 mx-2 pb-2 border-b-2 border-gray-200;
}
h2 {
  @apply text-3xl  font-semibold mb-4 mx-2 pb-2;
}

h3 {
  @apply text-xl mb-4;
}

label {
  @apply block text-slate-700 text-sm mt-2 after:content-[":"];
}
input {
  @apply bg-white focus:border-3 focus:outline-none focus:border-blue-600 border border-gray-300 rounded-md py-2 px-4 block w-3xs appearance-none leading-normal;
}

button {
  @apply bg-blue-500 hover:bg-blue-700 text-white tracking-wide font-bold py-1 px-6 rounded w-max cursor-pointer;
}

ul {
  @apply relative flex flex-col shadow-sm my-3 border border-slate-200;
}

li {
  @apply text-slate-800 flex w-full items-center rounded-md p-3 transition-all hover:bg-slate-100 active:bg-slate-100;
}

* *::before *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .blog {
  border: solid 1px;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 3px;
}

.notification.success {
  background-color: lightgreen;
  color: darkgreen;
  border: solid 3px;
  border-radius: 2px;
  padding: 5px;
  margin: 0 0 15px 0;
}

.notification.error {
  background-color: lightcoral;
  color: brown;
  border: solid 3px;
  border-radius: 2px;
  padding: 5px;
  margin: 0 0 15px 0;
} */
